/* Basic CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Variables */
:root{
    --primary-color: #6e1942;
    --secondary-color: #C8604B;
    --thid-color: #E68F4C;
    --white: #efefef;
    --black: #121212;
    --title-size: 4rem;
    --subtitle-size: 3rem;
    --paragraph: 1.4rem;
    --radius: 2rem;
}

/* Header Styles */
.header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
}

.hamburger{
    display: flex;
}

.hamburger .menu{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.menu .line{
    height: 3px;
    background-color: var(--white);
}

.header .hamburger .tit {
    font-size: var(--title-size);
}

.navbar {
    width: 40vw;
    position: fixed;
    top: 9rem;
    left: 0;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    height: 90vh;
}

.active {
    left: 0;
}

.off {
    left: -100%;
}

.navbar .links-container{
    list-style: none;
    font-size: var(--paragraph);
}

.links-container .link{
    padding: 2rem;
}

.link a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
}


/* Footer Styles */
.footer{
    background-color: var(--primary-color);
    color: var(--white);
    height: 20vh;
}

.footer .ft-t{
    font-size: var(--subtitle-size);
    padding: 3rem 1rem 0 1rem;
    text-align: center;
}
