/* Main CSS */
.content {
    margin-top: 10rem;
    padding: 2rem 3rem;
}
.content .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}

.profile figure{
    width: 20rem;
    height: 20rem;
}

.profile figure img{
    width: 100%;
    height: 100%;
}

.profile h3{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem 0;
}
.profile a{
    padding: 2rem 3rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    margin: 3rem 0;
    font-size: 2rem;
    transition: all 0.5s ease;
}
.profile a:hover{
    background-color: var(--secondary-color);
}

.engine{
    animation: rotation 7s infinite;
}

/* Animations */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}